@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

body {
    font-size: 150%;
    color: #0d1321;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 280%;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 200%;
}

h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 200%;
}

h5 {
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
}

p {
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #777;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: black
}

blockquote {
    border-left: 3px solid #bdbdbd;
}

.jumbotron {
    background: white;
}

.footer {
    padding: 30px;
    text-align: center;
}

/*    CAROUSEL     */
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control.right {
    background-image: none;  
}

.carousel-control.left {
    background-image: none;  
}